{% extends 'includes/base.html' %}
{% load static %}
{% block body %}
    <h1>Список публикаций</h1>
    <a role="button" class="btn btn-success" href="{% url 'add-post' %}"> + Add new post</a><br>
    <br>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Image</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for post in posts %}
            <tr>
                <td><a href="{% url 'post-details' post.id %}">{{ post.title }}</a></td>
                <td>{% if post.image %}<img src="{{ post.image.url }}" width="100" height="100">{% endif %}</td>
                <td><a class="btn btn-success btn-sm" role="button" href="{% url 'update-post' post.id %}">Update post</a> <a class="btn btn-secondary btn-sm" role="button" href="{% url 'delete-post' post.id %}">Delete post</a></td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock body %}